<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fictional Fitness Studio - Home</title>
    <style>
        body {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; padding: 10px;}
        .class {margin: 20px;padding: 10px; border-radius: 10px; width: 100%;}
        .yoga { background-color: cadetblue;}
        .zumba { background-color: cadetblue;}
        .hiit { background-color: cadetblue;}

    </style>
</head>
<body>
    <h1 style="color: blue;">Welcome to Fictional Fitness Studio</h1>
    <div class="class yoga">
        <h2>Yoga : Calm your mind, strenthen yourbody </h2>
        <p>Join our mindful yoga sessions and bring peace to your day.</p>
    </div>

    <div class="class zumba">
        <h2>Zumba : Dance your way to fitness</h2>
        <p>Get fit with fun, energitic Zumba classes. No experience needed!</p>
    </div>

    <div class="class hiit">
        <h2>HIIT : Push limits. Burn more.</h2>
        <p>High Intensity Interval Training to sculpt your body and burn calories fast.</p>
    </div>

    <a href="/classes/">View All Classes & Book Now</a>
</body>
</html>